<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="TokenNumber" value="M05kit0@1"/>
    <add key="MyConnection" value="SERVER=110.4.46.121;DATABASE=bioappdb;UID=bioappdb;PASSWORD=BioAppDb#12e;default command timeout=0;" />
    <!--<add key="MyConnection" value="SERVER=127.0.0.1;DATABASE=bioappdb;UID=root;PASSWORD=;" />-->
    <add key="LogFile" value="~/LogFile/errorLog.txt" />
    <add key="COASales" value="H9999900" />
	<add key="COADividend" value="B9999900" />
    <add key="COAPnL" value="E0211000" />
    <add key="COAAPBP" value="L0100004" />
    <add key="COAARBP" value="A0300004" />
    <add key="COACash" value="A0111010" />
    <add key="COABank" value="A0112010" />
    <add key="COABusInc" value="H0111101" />
    <add key="COABusExp" value="B0620000" />
    <add key="COAAdjInc" value="H0910001" />
    <add key="COAAdjExp" value="B0910001" />
	<!--<add key="imageurl" value="http://www.bioappsystem.com/bioappmalay/Attachment/" />-->
    <add key="imageurl" value="http://localhost:51144/Attachment/" />
	<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="MySql.Data, Version=6.10.8.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D" />
        <add assembly="System.Device, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="ActiveReports6, Version=6.0.2250.0, Culture=neutral, PublicKeyToken=CC4967777C49A3FF"/>
        <add assembly="ActiveReports.Viewer6, Version=6.0.2250.0, Culture=neutral, PublicKeyToken=CC4967777C49A3FF"/>
        <add assembly="ActiveReports.Document, Version=6.0.2250.0, Culture=neutral, PublicKeyToken=CC4967777C49A3FF"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off" />
	<!--<httpRuntime targetFramework="4.5"/>-->
    <httpRuntime targetFramework="4.5.2" executionTimeout="3600" maxRequestLength="400000" requestValidationMode="2.0"/>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>  
  <system.webServer>
    <!-- Please do not use this config for access-control-level but use Global.asax
    <httpProtocol>
        <customHeaders>
          <add name="Access-Control-Allow-Origin" value="*" />
          <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
          <add name="Access-Control-Allow-Headers" value="Content-Type, Accept, SOAPAction" />
          <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
          <add name="Access-Control-Max-Age" value="1728000" />
        </customHeaders>
    </httpProtocol>
    -->
	<security>
		<requestFiltering>
			<requestLimits maxAllowedContentLength="1073741824" />
		</requestFiltering>
	</security>
	<directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="index.htm" />
        <add value="Default.php" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="Default.aspx" />
        <add value="Default.html" />
        <add value="index.php" />
        <add value="index.aspx" />
      </files>
    </defaultDocument>
    <staticContent>
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
    </staticContent>
    <!--Required for CORS cross policy-->
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
