/* tabbable */
.tabbable>ul>li>a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	color: #0000FF;
	text-decoration: none;
}
.tabbable>ul>li>a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	color: #0000FF;
	text-decoration: none;
}
.tabbable>ul>li>a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	color: #FF0000;
	text-decoration:underline;
}

.nav {
	margin-left: 0;
	margin-bottom: 18px;
	list-style: none;
}
.nav>li>a {
	display: block;
}
.nav>li.active>a {
	background-color: #c2c3bf;
}
.nav>li.close>a {
	background-color: #f9efa2;
}
.nav>li>a:hover {
	text-decoration: none;
	background-color: #eeeeee;
}

.nav-tabs>li>a {
    padding-top: 11px;
    padding-bottom: 8px;
    line-height: 30px;
    border: 1px solid transparent;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.nav-tabs, .nav-pills {
*zoom:1;
}
.nav-tabs:before, .nav-pills:before, .nav-tabs:after, .nav-pills:after {
display: table;
content: "";
}
.nav-tabs:after, .nav-pills:after {
clear: both;
}
.nav-tabs>li, .nav-pills>li {
float: left;
}
.nav-tabs>li>a, .nav-pills>li>a {
padding-right: 12px;
padding-left: 12px;
margin-right: 2px;
line-height: 14px;
}
.nav-tabs {
border-bottom: 1px solid #ddd;
}
.nav-tabs>li {
margin-bottom: -1px;
}
.nav-tabs>li>a {
padding-top: 8px;
padding-bottom: 8px;
line-height: 18px;
border: 1px solid transparent;
-webkit-border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs>li>a:hover {
border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs>.active>a, .nav-tabs>.active>a:hover {
/*
color: #555555;
*/
background-color: #c2c3bf;
border: 1px solid #ddd;
border-bottom-color: transparent;
cursor: default;
}
.nav-tabs>.close>a, .nav-tabs>.close>a:hover {
/*
color: #555555;
*/
background-color: #f9efa2;
border: 1px solid #ddd;
border-bottom-color: transparent;
cursor: default;
}
.nav-pills>li>a {
padding-top: 8px;
padding-bottom: 8px;
margin-top: 2px;
margin-bottom: 2px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.nav-pills>.active>a, .nav-pills>.active>a:hover {
color: #ffffff;
background-color: #0088cc;
}
.form-actions {
	padding: 17px 20px 18px;
	margin-top: 18px;
	margin-bottom: 18px;
	background-color: #eeeeee;
	border-top: 1px solid #ddd;
*zoom:1;
}
.form-actions:before, .form-actions:after {
	display: table;
	content: "";
}
.form-actions:after {
	clear: both;
}

.btn {
	-webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 1px 2px;
  -moz-box-shadow: inset rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 1px 2px;
  box-shadow: inset rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 1px 2px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(128, 128, 128, 0.1)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(128, 128, 128, 0.1));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(128, 128, 128, 0.1));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(128, 128, 128, 0.1));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(128, 128, 128, 0.1));
  background-color: white;
  border-color: whitesmoke whitesmoke #cfcfcf;
  border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
  color: #333333;
  *background-color: whitesmoke;
  font-size: 14px;
  line-height: 22px;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  padding: 2px 12px;
  text-align: center;
  vertical-align: middle;
  *border: 0;
  *display: inline;
  *zoom: 1;
  *margin-left: .3em;
}
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
	background-color: whitesmoke;
    color: #333333;
    /*background-color: #e8e8e8;*/
}
.btn:active, .btn.active {
	background-color: #dbdbdb;
}
.btn:first-child {
    *margin-left:0;
}
.btn:hover {
	color: #333333;
	text-decoration: none;
	background-color: #e6e6e6;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-ms-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}
.btn:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.btn.active, .btn:active {
	-webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  outline: 0;
}
.btn.disabled, .btn[disabled] {
	 -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
  opacity: 0.65;
  background-image: none;
  cursor: default;
}
.btn-large {
	 -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 24px;
  line-height: 22px;
  padding: 6px 14px;
}
.btn-large [class^="icon-"] {
	margin-top: 1px;
}
.btn-small {
	 -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  line-height: 24px;
  line-height: 22px;
  padding: 0 9px;
}
.btn-small [class^="icon-"] {
	margin-top: -1px;
}
.btn-mini {
	 -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 11px;
  line-height: 24px;
  line-height: 22px;
  padding: 0 6px;
}
.btn-primary, .btn-primary:hover, .btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover, .btn-success, .btn-success:hover, .btn-info, .btn-info:hover, .btn-inverse, .btn-inverse:hover {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	color: #ffffff;
}
.btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active, .btn-inverse.active {
	color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
	 background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(33, 169, 236, 0)), color-stop(100%, rgba(1, 9, 13, 0.1)));
  background-image: -webkit-linear-gradient(rgba(33, 169, 236, 0), rgba(1, 9, 13, 0.1));
  background-image: -moz-linear-gradient(rgba(33, 169, 236, 0), rgba(1, 9, 13, 0.1));
  background-image: -o-linear-gradient(rgba(33, 169, 236, 0), rgba(1, 9, 13, 0.1));
  background-image: linear-gradient(rgba(33, 169, 236, 0), rgba(1, 9, 13, 0.1));
  background-color: #21a9ec;
  border-color: #1399dc #1399dc #0d6895;
  border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
  color: white;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
  *background-color: #1399dc;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #1399dc;
  color: white;
  *background-color: #1189c4;
}
.btn-primary:active, .btn-primary.active {
	background-color: #0f79ad \9;
}
.btn-warning {
	 background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(245, 167, 50, 0)), color-stop(100%, rgba(38, 24, 2, 0.1)));
  background-image: -webkit-linear-gradient(rgba(245, 167, 50, 0), rgba(38, 24, 2, 0.1));
  background-image: -moz-linear-gradient(rgba(245, 167, 50, 0), rgba(38, 24, 2, 0.1));
  background-image: -o-linear-gradient(rgba(245, 167, 50, 0), rgba(38, 24, 2, 0.1));
  background-image: linear-gradient(rgba(245, 167, 50, 0), rgba(38, 24, 2, 0.1));
  background-color: #f5a732;
  border-color: #f49a15 #f49a15 #b36f09;
  border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
  color: white;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
  *background-color: #f49a15;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	 background-color: #f49a15;
  color: white;
  *background-color: #e48d0b;
}
.btn-warning:active, .btn-warning.active {
	background-color: #cb7e0a \9;
}
.btn-danger {
	 background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(219, 51, 37, 0)), color-stop(100%, rgba(1, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(219, 51, 37, 0), rgba(1, 0, 0, 0.1));
  background-image: -moz-linear-gradient(rgba(219, 51, 37, 0), rgba(1, 0, 0, 0.1));
  background-image: -o-linear-gradient(rgba(219, 51, 37, 0), rgba(1, 0, 0, 0.1));
  background-image: linear-gradient(rgba(219, 51, 37, 0), rgba(1, 0, 0, 0.1));
  background-color: #db3325;
  border-color: #bd2b1f #bd2b1f #7b1c14;
  border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
  color: white;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
  *background-color: #bd2b1f;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	background-color: #bd2b1f;
  color: white;
  *background-color: #a7261c;
}
.btn-danger:active, .btn-danger.active {
	background-color: #912118 \9;
}
.btn-success {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(126, 178, 22, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(126, 178, 22, 0), rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(rgba(126, 178, 22, 0), rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(rgba(126, 178, 22, 0), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(rgba(126, 178, 22, 0), rgba(0, 0, 0, 0.1));
  background-color: #7eb216;
  border-color: #6e9b13 #6e9b13 #3e570b;
  border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
  color: white;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
  *background-color: #6e9b13;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	background-color: #6e9b13;
  color: white;
  *background-color: #5e8510;
}
.btn-success:active, .btn-success.active {
	 background-color: #4e6e0e \9;
}
.btn-info {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(78, 178, 213, 0)), color-stop(100%, rgba(7, 23, 29, 0.1)));
  background-image: -webkit-linear-gradient(rgba(78, 178, 213, 0), rgba(7, 23, 29, 0.1));
  background-image: -moz-linear-gradient(rgba(78, 178, 213, 0), rgba(7, 23, 29, 0.1));
  background-image: -o-linear-gradient(rgba(78, 178, 213, 0), rgba(7, 23, 29, 0.1));
  background-image: linear-gradient(rgba(78, 178, 213, 0), rgba(7, 23, 29, 0.1));
  background-color: #4eb2d5;
  border-color: #35a7cf #35a7cf #237795;
  border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
  color: white;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
  *background-color: #35a7cf;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-color: #35a7cf;
  color: white;
  *background-color: #2d98be;
}
.btn-info:active, .btn-info.active {
	background-color: #2888a9 \9;
}
.btn-inverse {
	 background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(85, 85, 85, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(85, 85, 85, 0), rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(rgba(85, 85, 85, 0), rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(rgba(85, 85, 85, 0), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(rgba(85, 85, 85, 0), rgba(0, 0, 0, 0.1));
  background-color: #555555;
  border-color: #464646 #464646 #1f1f1f;
  border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
  color: white;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
  *background-color: #464646;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #464646;
    color: white;
    *background-color: #393939;
}
.btn-inverse:active, .btn-inverse.active {
	 background-color: #2c2c2c;
}
